.listAuto, .listMoto{
    display: flex;
    justify-content: space-around;
}
.basket{
    display: flex;
    justify-content: space-around;
}

.item{
    border:1px solid
}

h1{
    padding-left: 30px;
}